.timeaxis-bar, .timeaxis-bar .timeaxis-item, .batch-header, .item, .item .item-tag.tag-discount, .item .item-title, .item .item-wrap, .item .item-status, .entries, .entry {
  display: -webkit-box; }

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
  margin: 0;
  padding: 0; }

body {
  font-family: '黑体', arial, sans-serif; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

ul, ol, li {
  list-style: none; }

em, i {
  font-style: normal; }

strong, b {
  font-weight: bold; }

img {
  border: none; }

input, img {
  vertical-align: middle; }

a, ins {
  text-decoration: none; }

*, a:focus {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: 0; }

input, select, textarea {
  -webkit-appearance: none;
  border: 0;
  border-radius: 0; }

textarea:focus {
  outline: 0; }

html {
  background: #eee;
  font-size: 24px; /*px*/ }

img {
  width: 100%; }

.none {
  display: none !important; }

#timeaxis {
  height: 96px; }

.timeaxis-wrap {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 10;
  height: 96px;
  color: #999;
  background: #2d3845;
  -webkit-transform: translateZ(0); }

.timeaxis-bar {
  position: relative;
  z-index: 19;
  height: 100%; }
  .timeaxis-bar .timeaxis-item {
    -webkit-box-align: center;
    -webkit-box-pack: center; }
    .timeaxis-bar .timeaxis-item .timeaxis-time, .timeaxis-bar .timeaxis-item .timeaxis-info {
      position: relative;
      z-index: 19;
      text-align: center; }
    .timeaxis-bar .timeaxis-item .timeaxis-time {
      margin: 0 auto 4px;
      font-family: arial;
      font-size: 32px; /*px*/ }
    .timeaxis-bar .timeaxis-item .timeaxis-info {
      font-size: 22px; /*px*/ }
    .timeaxis-bar .timeaxis-item.timeaxis-active {
      position: relative;
      color: #fff; }
      .timeaxis-bar .timeaxis-item.timeaxis-active .timeaxis-time {
        margin-bottom: 2px;
        font-size: 36px; /*px*/
        font-weight: bold; }

.timeaxis-current {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40%;
  right: 40%;
  z-index: 18;
  background: #fc353a; }
  .timeaxis-current:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 18;
    display: block;
    height: 0;
    width: 0;
    margin: auto;
    border-top: 14px solid #fc353a;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent; }

.batch-header {
  padding: 32px 24px 22px;
  font-size: 28px; /*px*/
  background-color: #eee; }
  .batch-header:before {
    content: "";
    display: block;
    height: 28px;
    width: 10px;
    margin-right: 6px;
    border-radius: 10px;
    background-color: #ccc; }
  .batch-header .batch-title {
    -webkit-box-flex: 1;
    color: #fc353a; }
  .batch-header .batch-countdown {
    color: #666; }

.batch-list {
  background: white; }

.item {
  position: relative;
  padding: 16px 24px;
  border-top: 1px solid #ccc; }
  .item:last-of-type {
    border-bottom: 1px solid #ccc; }
  .item .item-tag {
    position: absolute;
    top: 4px;
    left: 4px;
    z-index: 1;
    padding: 6px;
    color: white;
    line-height: 36px;
    font-size: 36px; /*px*/
    font-weight: bold;
    background-color: #fc353a; }
    .item .item-tag.tag-discount {
      -webkit-box-align: start; }
      .item .item-tag.tag-discount .tag-text, .item .item-tag.tag-discount .tag-percent {
        width: 24px;
        line-height: 20px;
        font-size: 20px; /*px*/
        font-weight: 100; }
      .item .item-tag.tag-discount .tag-info {
        line-height: 44px;
        font-family: arial;
        font-size: 44px; /*px*/
        font-weight: 900; }
      .item .item-tag.tag-discount .tag-percent {
        position: relative;
        top: 4px;
        left: 4px; }
  .item .item-pic {
    position: relative;
    height: 200px;
    width: 200px;
    margin-right: 22px;
    background: #f8f8f8 center no-repeat url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAKsAAAA1BAMAAADMqgYZAAAAA3NCSVQICAjb4U/gAAAAMFBMVEX////d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d02PyVvAAAAEHRSTlMAESIzRFVmd4iZqrvM3e7/dpUBFQAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNui8sowAAAYRSURBVFiFtVdNaGNVFL5Jnaa/06jgrGzfQpe2WSm4MBGUEV00Kgi6SUQYGBCaGZTAICYuZt3MRhCERjeCCxtQUBBM0IUbpdGlm6ZulWnzmub/ves937k/7yWCINMD7b3v3fu+8/ede26EEGLhvbQg2ZJSTsWcZNVrGdgZ5MTsh4Q8DeLfpWTwxfNq3FdLvXnYCn0yotmxhe3T4655mrDCQfy7FXr3x60EDa152EODs2RRFZDRxzoLNJzHv1vD2nnkKyvuncJ9LrLgGX28th//rEOwG5iebck5ma7aqTLliMafy6c0VDkmwS+/SorcYfy7BsE+hWlrRiPJeN1OuyoFSoK02KOxLURC4fuITJc1OqkiCo/e/EHKz07nYQfOg7bYpuF3HTOV2gVyUazC55lvi4RK9HryzjvluHyoli+ulcsfYOO3edFUQ5hhODkWYpFcFOvG5+W2ZanM0Oyr716bzz8i7quRw5sHCvMP0UqLZQASTA10w39mXVrT8a+7HrgXYXRWckY5vBmxyehKHmc/1xDEXe1z4rhoWQ4U8FVND2SM0QXJLObwMp14+YrE0lUAUgJzILVnWT6mCWIlp5TYKKNJS11Ea3dGdgB4oH3O6i3KdTmkCYImR4uxXAbIUEktg08T7VN0A7njEbVCQjlCefO2C5olbxLr+uuxr0bgTM4kKPj+oRnYMRYEbaNKTvExwa772p+nP5W93dhXF0kpuUSbrCY1AzughUAkJR9D2xoLPp/YQC28Ha+/LuUlNMFSapZnYHu0MEH6+lDOtMW21kwW4CmnjYqSDt/rWg1qK7xPgpLqUhSDT65DAxnJtMW2+gwsqH9mp6PES01tXGvDmQEGtznYz3IoN3XB8rFVwvTlL5W8GnMxRBUMtu2L6g7+Yz+yUEewQ9rWAVs9rGXpbc4yVL4Ygx2jCnoF8/x+GlO2qIIpDv/xBnywNJlgm2cZLK/FYIcwyT/Qj4HmGe9HcjMgZJ+sq3E5k/j7UmcaHIke2CQ9mNQ5NkYwVsitFCnjCPtULCXXHEpNqTsSU20YrwYfMD8qO4/ZeLg0jZjBUWyTP7kF81mQJpUjRzXUG8qcXQDMx3/fTTfhKxclap1PmhEXdY2WPWtSL8G7SfCyi2nBuoD1W2kd+B4XZd+Z0edE50/JjoqBrUeID+owI/dhxzPl8m2sE1F0TBZ5sOQ+5/b1CMUjaVBDL+VMhDf3KEPYiu7sY93TgVQrMPHEMZ7b15S0j2y2B7yt7Wj7Orkg2GGVrc6yjjIzssUmthzjG9A3JO2DPQPbjtYuoveY+qsusAsqDS0KOCWeD646WoEuMkSyisT1qCb6tu3m2JOq4wudLLmUda+2KZkofHBVOQFF510e950utBvUsfYkb2mL+HioxwaRoJSV3LlM3y3oWAt9AHtYaGxIfTMivX/qPGUcbdfN8SJrZH5uT3L3Nn23wrF+48aNN6W0e6tZG/EKDi6UW4S2W+QDe0pZSpOnvkm76oGHHGvj70Qs3SF1ezZDR2ijTWlqEVjtLNUQPM0tkjFH2jusBqah2iod4pwP0/sm4kl27lTqdq6LsECv+bqyRMYgcrruqPBo6HPdkpzAywlZx+dPClYj/YNIYivk8xGiphI3hFk1o3RkGqq57o49+DEg634CypoqMc3ynqOtRyUg2DJF6T7MKhqlA6ZLRyQeZtE5ilxWdmBkSuqUsN0BGcrnxIiYzzfznGFTj81siKiolc6Gybvyqi10g+w42pKh1RQHUJGiu8r51774TN9aFJXYXXewTTLiiUOrnWkLrq6wZSpL7atSH7wI5RnXbjEKS2EqWtgE8g8bWDto65P/fBp3k2qxvsP51/ezFl8bv3khIq+oFxkLu0glpq9pRUfbyFWIqFclXg12zKuG+2UXlVBY2FUqMd1/c462M1ehPDH4N3vglTgIszJ2sFuB4YFuWgewO953Q+pgYebAPorZix2k72D3iKzIje6KxzT1YtaEX6u304/sb9HP1bZ3/+V3kO9gm6rE2KVJTjwwSdz3HhyYkyuD/97zP2SlfSmwm7lLgX3rUlDFvcuBLV4KanLuzT+WRHO+1+59TQAAAABJRU5ErkJggg==);
    background-size: 140px;
    overflow: hidden; }
    .item .item-pic img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto; }
  .item .item-info {
    -webkit-box-flex: 1;
    color: #999; }
  .item .item-title {
    height: 64px;
    line-height: 32px;
    margin-bottom: 20px;
    color: #333;
    font-size: 28px; /*px*/
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden; }
  .item .item-wrap {
    margin-bottom: 20px; }
  .item .item-price {
    -webkit-box-flex: 1;
    font-family: arial; }
    .item .item-price .item-newprice {
      color: #fc353a;
      font-size: 36px; /*px*/
      font-weight: 900; }
      .item .item-price .item-newprice span {
        font-size: 28px; /*px*/ }
  .item .item-action {
    height: 56px;
    line-height: 56px;
    width: 112px;
    border-radius: 8px;
    font-size: 28px; /*px*/
    font-weight: bold;
    text-align: center; }
    .item .item-action.action-current {
      color: #fc353a;
      background: #fcdcdd; }
    .item .item-action.action-soldout {
      color: white;
      background: #ddd; }
  .item .item-status {
    -webkit-box-align: center; }
    .item .item-status .status-info {
      margin-right: 12px; }
      .item .item-status .status-info.status-warmup {
        color: #28a51b; }
    .item .item-status .status-bar {
      box-sizing: border-box;
      height: 12px;
      width: 176px;
      border: 1px solid #fd7b7d;
      border-radius: 10px;
      overflow: hidden; }
    .item .item-status .status-progress {
      height: 100%;
      background: #fd7b7d;
      border-radius: 10px; }

.batch-footer {
  color: #999;
  padding: 36px 0;
  text-align: center; }

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(360deg); } }

.loading {
  margin-top: 120px;
  font-size: 0;
  text-align: center; }
  .loading .spinner {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 60px;
    height: 60px; }
    .loading .spinner .circle {
      position: absolute;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      border-radius: 50%;
      border: 2px solid #ff5000;
      -webkit-animation: spinner 0.6s linear infinite; }
      .loading .spinner .circle:after {
        content: "";
        position: absolute;
        left: 50%;
        top: 0;
        width: 8px;
        height: 8px;
        margin-top: -4px;
        margin-left: -8px;
        background-color: #eee;
        -webkit-transform: translateZ(0); }
  .loading .label {
    display: inline;
    margin-left: 20px;
    line-height: 60px;
    color: #999;
    font-size: 24px; /*px*/
    vertical-align: top; }

#entries {
  height: 98px; }

.entries {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 9;
  height: 98px;
  border-top: 1px solid #ccc;
  border-radius: 1px;
  background-color: #f3f3f3;
  -webkit-transform: translateZ(0); }

.entry {
  -webkit-box-align: center;
  -webkit-box-pack: center; }
  .entry .entry-link {
    display: block;
    width: 160px;
    color: #666;
    text-align: center; }
  .entry .entry-icon {
    height: 42px;
    width: 42px;
    margin: 0 auto 12px;
    background-size: contain; }
    .entry .entry-icon.entry-index {
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAAV1BMVEUAAABmZmZmZmZkZGRiYmJmZmZmZmZmZmZmZmZbW1tmZmZmZmZmZmZlZWVmZmZmZmZlZWVmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZkZGRmZmZmZmZ3qWArAAAAHHRSTlMA8PkPCOfbdUcC0cW5saNAM4JpXyD0q5iLJxdStOL+/AAAAhhJREFUWMPtlsmWhCAMRUEQ56EcylLz/9/ZpUc6EaL0shfeHZMhAy+Kh4d/SguW9zGTgkd984EOLMkxU4FHfPOBGiyN2BmAYeCOVnIjAsso1Tb9AYZeMMTsRbW0o2maSrs0Mec1uBR7TKjR2Q6M8JkBIWbyY5Bnp1suTP6qjRwsebV+Zxs7XPdNbzLkeTlxeqM7G4ld/QgeNAHtnsPonNOWxIcHXVhoDstjORuPiUixx3EDyD0zMbnOzm8iU8EyYAy3YY/Pwo3RS7A0WAR9hw7N/obi5imhDX1AfNQ454NB470Mk5WAKFFF1zDFvPR1DIjBwuWoXNuf3FOdBW5IQk/JrIyW3USod9ZbWvgdI1huJU5wRtN30eA+cyUIOSNGxremrnRZR99DdYJ1SDcbplI7V03KZKYdoMbNaI2GpQ0U8ouOEl8uIh0o5J4GvPGVu7iWIzyT+zFcUG9ZCtp5dOTHMCU3vG0tUUbkr2Ykd2bPa6CJ670YoqDJr4Hb1lJibdIYZhLXObAMJhoQxQli+NcgG4k7S/qln6KAWGEZrMSftzWNmOwPXWmlMSxdMQmVgdqN4nUlUEYlAmUwUqPK+csZi1bw6FNXikkMM0UQl7RUcRcsiT+TAGn+KflYGDUMw7yiqnXka0UWPj+4DaShmR8lh0mJfQMOityAp1z4foj/P8t4c3zsTgUsT8Qm0btfdS4vKGbx8HDiB32ik7ita2oYAAAAAElFTkSuQmCC); }
    .entry .entry-icon.entry-brand {
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAASFBMVEUAAABmZmZiYmJlZWVmZmZlZWVmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZkZGRmZmZlZWVqampmZmZmZmZmZmZlZWVmZmZmZmYfDwFNAAAAF3RSTlMA9wjJ6jlB/d2Jpk65Kg9xHxV8rphgBaV5g20AAAGrSURBVFjD7ZbbcoQgEETBAfGCivf//9MgYiZBmCXZl1TFflm3hGZozrDLHj0KZTTPkO6SBs2epSZpUOUZVEkDkWcgkgbcvu0LUr0dwpMGyr5lL2SHKLKCgp5fuAqoDAxtMLoMqFPoaIPOnQJlIGkDGTWQgGfU0gYljgRcC3bUShu0OwqiANW0wRQAda9A0wZztILFfitdQmhL5eyzWNilwZe+HSSN1HxH8mYfavswYDJXPdqXQh6CvnaNB2aUnziRKfqFJ2+kzPebBBATIgK/EgT3iuHH0j6EjgaZF2ch3ASlWcvNhTDRFADbmjswvXBk1H4vdyEwc32O7YN4OQJSZjQCvw2S4jWMGimWEUYWdb3uUhF6qaWP3zaDrvjhMqf7QPFKDySsa/JSaINup5IWY6Q+gSdESqqAsi+0KknPxebGTsOOxQZ+odH9RE6Rm6gaWZY64VC9oS46linpsITyk0BA+PLUnkzNqywKuc4nPS37gcrqgk5d8OL8LPVN8K+kZz9VCzgdiOUJmcF5wGDYr3UY2I/H4F8aSNgjApltAHtU8LbB+1t49Ef1AZuqQIRSsFEHAAAAAElFTkSuQmCC); }
    .entry .entry-icon.entry-hot {
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAATlBMVEUAAABmZmZlZWVmZmZmZmZmZmZjY2NmZmZnZ2dlZWVmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZpaWllZWVmZmZlZWVmZmZmZmZmZmZmZmbQ0F2cAAAAGXRSTlMA9cmM5RcIemNZMsq+PNb68awnsKRMSEKvUv6cnAAAAbJJREFUWMPtVtmSgyAQ5BYRieuRrP//o1uTTGK2cJBkXnar0i8qwkA3c4kP/jZ6tSJUL94BrEcotgE+hX8Jt+g5pkGmOOuzEy/C+kmuT5Df/hUbrpFrhqGpNuHNugvj607f4fxO+wDP4PV9KFohxFkVrzWY2256hC94heeocTiI9lR0rPbKXt75Kpj8rIvUp6Jntivgy27euB3Xfq2I05k8/3WXRhBocH1L6meKvwXwL20grmLD+jLFSN5/Zp5g4Qn/M6CfOAAoOVjSuLSHfgY6a/JPQ7NXqX/sYxyhgCHjRT/cxxlC6Yk4GsBG0C5ttuKOhMBgLMWHvNy+RnCW/KgLxF8pPkx4dpdLTpJkoDGSD6bO4CAkfVywyT1lE2FeIOm3v8Z22abdEnJB+lm5MZmBYbeIJaSfFTxZaUAh/czAUEmhj6ndrZiJFvEYAWhVXyMRNfMLjkRPPXZlOvMtZDAdA4JJOiKcaxlMdQmFTp2+MqXRqZOZVBtmWjeOW1iYpa0TvOJqQCdGeZcQcu83GEiR0eLgekaTxWrzOstsNDmtLujCabYnb99s9wdo9xcnPqDxA3+fPtC5JJLGAAAAAElFTkSuQmCC); }
    .entry .entry-icon.entry-category {
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABABAMAAABYR2ztAAAAA3NCSVQICAjb4U/gAAAAMFBMVEX///9mZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmambAcKAAAAEHRSTlMAESIzRFVmd4iZqrvM3e7/dpUBFQAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNui8sowAAACvSURBVEiJY2AYBVQDee/evQRSnPfeYYDnYAX/gcCBgUH/PxaArMCfkALcJkDdwIHphHfXIa4UYARTjIwMAgJoBP2CahRQBzAbmxiAaGMMABFnmP///x9gvPJgSS+/wAqgKcoeb5ILwKfgPZBhgC9Neu3evQ1Ise7GBEvoHF6jgPZArKwsCUgxpWOCRLCC88CEocDAIIclvfwBK6A8TZ4DlndAK2SxFINv6B8iwxcAAHv2VDQa+5shAAAAAElFTkSuQmCC); }
  .entry .entry-active {
    color: #fc353a; }
    .entry .entry-active .entry-index {
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAAYFBMVEUAAAD8NTr8NTr/Ojz/Mz39NTr8NTr8NTn8NTr8NTn9NTr8NTr/MzP8NTr8NTn8NDr7NTv8NTr9NTr6NTr8NTr8NTr/NTn/NDj8NTr+NTr8NTr8NTr8NTr8NTn/Mjr8NTpHK6DIAAAAH3RSTlMA8PkHD9P+R7CDdrkC6sZgQNxqNKmhHhWYKuWOUvQjYZUleAAAAipJREFUWMPtltmagyAMhYu4i1r3pVbe/y1n+AZINIi9nIv+dywhcggHH1++/FM6aeh1TyIBGLqktbNy3ZNKwupZYLCznn8deywpoys0ZYrATmIsVN0v6aB2LbCeZ5WqlzPz2fM8F2ZodsRz8qmV1gSSLqYRkXAYBAbVHZkQoVqlGZsc55cqImmTpNtv79M0NzgRaDrITjqlsB1FbkZfVwv00tCp5hgfz7QDfS6ALUz4gwo9LN66Iw6d4TBBMtXkpf0cjT3IxL3AKA8HVetGSjXKnPEgelzVtd1QvNAJhecqQQ6uQXvk0EeAwvfs0o9QGoHOaXBNQ6OneiglEOHrRUnPubMoPt+ESXrIb65S3GwOL/MoVJ/GO1z4LTEsWomzPMLxvXjSUicaRg4zami2MLYKUTtahxzMCE+OHJXant2kaBf8AgwwGbJhWbqbQs5wK6d2EfAP7GhwaLj6/aSXOCaiGk5g604q/PLwgJ5Y4ntYsGkHAtlf79jj4oznUqKkNdEQDI0J5wKLxHbzohqK0m9HUAYzFiS8MkT/r4FgaDtj8ks9BzdmlUn0cO2goR4BGvHBq7RhDQtqJv4ymFDSRJ8v8L54lWAaw0knvR07WHUX8fzwKq1IQxEiHpcs2HEnKImPySV6/BO02D3hOI77Bq7WotUqcR8/WvWgeDPQnLloEpQfUoMB5NJLMSLxoUrQ/8/09oS/28ODzA6UTc5V995HJXNT7Y8vXw78AGncoagrjxyXAAAAAElFTkSuQmCC); }
    .entry .entry-active .entry-brand {
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAASFBMVEUAAAD8NTr9NTr7NDr8NTr8NTr8NTr8NTr7NTn/NTv8NTr8NDv9NDv7NTn/Njz/Njb8NTv7NTn8NTv9NDr7Njz/NTX8NDn8NTrBdrBlAAAAF3RSTlMA98o77P3jpoohuk52QhAFxNiWZy4VnVSkPJ8AAAE+SURBVFjD7dbdjoMgEAXgA4iCIP6X93/ThWzYtFbsiNlkk/W7mXpzIkc7Ebfblm4ZQauR03iSBjk1LaBGTkULqJDDaAEMOZIWIC/fweUOfu8pjLSAEVuC+wJcIOG+CCeURyxzKAsYkDzCVRe78CTx7F2YDyQ2XKkwe0Z6j3oAKvywSExqpKUEtKl3g0SnG7OUAJsOq183CaeWENvim72i2XcLPaNVoOLUeKJ8jOwpJQzomzgVnrnKB7VqCBtR1XFUDi865k9hHTZEdeotFnjjJumJ5OSwZ53bkX1IkWxs5xUH5uOAGR9x2grIW+TBARYQTPmACRRrnV3HK0iWKvPwFxAJtvvyCZAZuVOgwQld/XZ+g1PcY/MfdDjLcP+DG5TQdvDBYDWKxYAw7oB/GSD44TdR8VrklwOuH+H2R30BAAeEVOQ2HqEAAAAASUVORK5CYII=); }
    .entry .entry-active .entry-hot {
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAATlBMVEUAAAD6NDn9NTr8NTr8Njr/ND38NTr8NTr9NDr8NTr7NTv8NTr8NTr/Mjv8NTr8NTr8NTn/NDj8NTr8NTr9NDn5Mzn8Njr7NTn/M0T8NTq+EcWpAAAAGXRSTlMANsrowwnzg2T2Pr1aG/vaSxKwo3Aspo0HqJm3KwAAAX1JREFUWMPtlt2SgyAMhQMIoviDWrvN+7/ojh1b3KUEbG52Z/pddToYPUkOCXz427QSd2QL7yDxiWQH4Ev4l2hfL240ZqyuX/4GJ5ns3OABM9vpzMtrsz9YCVHtP9VFQyFW4QMBIPCBslBCLzGw/YEBt+nwkiyrUJgOgKOAbiAbqwu5CxIONF8D2ZkdPglJjBh88vsbLGDokvlTWMKF9l8el6w/FpKQoBUWol63dY3F1C/9Y5DiKtZQUHU7m4Fhy7ygszBTou/Nvx4aDCI00UOyv59why+Kre0xyaIjl2Ib14CQv9GqTB0WUj5cBvzBHAVwpPwofGzoESsB8Nu8LpK/nxqjAAYFPGodWCP5+ylTGEAE+UQAQkLVrlcMUBIcnsLRZcyzJBqJYWiPp/CkmfI0mrRznpm+UPJY8krLYybupcq91jVzsFjmaJPAG66qB+CM90YAAb1ghJnCWHHI5/NLlhK8NU/2zEWTteqaWjOW7Wa209vrvltqr+FDmm/u+KJ/uM3ioQAAAABJRU5ErkJggg==); }
    .entry .entry-active .entry-category {
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABABAMAAABYR2ztAAAAA3NCSVQICAjb4U/gAAAAMFBMVEX////8NTr8NTr8NTr8NTr8NTr8NTr8NTr8NTr8NTr8NTr8NTr8NTr8NTr8NTr8NTrLH66FAAAAEHRSTlMAESIzRFVmd4iZqrvM3e7/dpUBFQAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNui8sowAAACvSURBVEiJY2AYBVQDee/evQRSnPfeYYDnYAX/gcCBgUH/PxaArMCfkALcJkDdwIHphHfXIa4UYARTjIwMAgJoBP2CahRQBzAbmxiAaGMMABFnmP///x9gvPJgSS+/wAqgKcoeb5ILwKfgPZBhgC9Neu3evQ1Ise7GBEvoHF6jgPZArKwsCUgxpWOCRLCC88CEocDAIIclvfwBK6A8TZ4DlndAK2SxFINv6B8iwxcAAHv2VDQa+5shAAAAAElFTkSuQmCC); }
  .entry .entry-name {
    font-size: 20px; /*px*/ }


