/*整体样式*/
body {
    background: #eee;
    color: #888; /* color is gray */
    border: 1px solid; /*no*/
    height: 20px; /* px */
    padding: 6px; /*px*/
}
.header, .footer span {
    width: 100%;
    height: 20px;
    margin: 10px;
    font-size: 28px; /*px*/
}
.sidebar {
    width: 40px;
}
